@model TaskResponse

<h2>Delete Task</h2>

<p>Are you sure you want to delete the following task?</p>

<div>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ToDoListId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="TodoList" asp-action="Get" asp-route-id="@Model.ToDoListId" class="btn btn-primary">Cancel</a>
</form>